.vacancy__containner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 773px;
  margin-bottom: 16px;
  padding: 24px;
  border: 1px solid #eaebed;
  border-radius: 8px;
  background-color: #ffffff;
}

.vacancy__title {
  font-style: 'Title S/Semibold';
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  color: #5e96fc;
  margin-top: 0;
  margin-bottom: 12.5px;
}

.vacancy__description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 13px;
}

.vacancy__description li {
  list-style-type: none !important;
}

.dot {
  color: #7b7c88;
  margin-left: 12px;
  margin-right: 12px;
}

.vacancy__city {
  display: flex;
  align-items: center;
}

.currency {
  font-family: 'Inter';
  font-weight: 600;
  line-height: 20px;
  color: #232134;
}

.vacancy__description li:last-child {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}
.city_title {
  font-family: 'Inter';
  margin: 0 0 0 11.33px;
  line-height: 19.36px;
  font-size: 16px;
  font-weight: 400;
}

.vacancy__link {
  text-decoration: none;
  color: inherit;
}
